<div id="menu-on">
    Меню на @Model.Date.GetMenuOn(Model.Day)
</div>
@if (Model.Day > 0 && Model.Day < 6)
{
    <div class="kind-product">
        <a id="Комплексные обеды">Комплексные обеды</a>
    </div>
    <div class="komplex">
        @foreach (var kind in Model.Products.GetKomplexKind(Model.Day))
        {
            <div class="kind-komplex">
                <div><hr></div>
                <div>ВЫБЕРИТЕ @kind</div>
                <div><hr></div>
            </div>
            <div class="change-komplex">
                @foreach (var komplex in Model.Products.GetKomplexOnDayAndKind(Model.Day, kind))
                {
                    <div class="box-komplex">
                        <input type="hidden" value="@komplex.Id">
                        <div><img src="@komplex.Image" alt=""></div>
                        <div>@komplex.Name</div>
                    </div>
                }
            </div>
        }
        @foreach (var kind in Model.Products.GetKomplexKind(Model.Day, true))
            @foreach (var komplex in Model.Products.GetKomplexOnDayAndKind(Model.Day, kind))
            {
                <div class="extra-komplex">
                    <input type="hidden" value="@komplex.Id">
                    <div><img src="@komplex.Image" alt=""></div>
                    <div>@komplex.Name</div>
                </div>
            }
        <div class='block-price-count'>
            <div id="price-komplex">
                175 <span class="text-ruble">₽</span>
            </div>
            <div id='button-komplex'>
                <a>добавить в корзину</a>
            </div>
        </div>
    </div>
}
@foreach (var kind in Model.Products.GetKind(Model.Day))
{
    <div class="kind-product">
        <a id="@kind">@kind</a>
    </div>
    @foreach (var product in Model.Products.GetProductOnDayAndKind(Model.Day, kind))
    {
        <div class="product">
            <input type="hidden" value="@product.Id">
            <div>
                <div class="image-food"><img src="@product.Image" alt="" style="width:180px; height:120px;"></div>
            </div>
            <div class="view-product">
                <div class="text-name-product">
                    @product.Name
                </div>
                <div class="text-des-product">
                    @product.Description
                </div>
                <div class="view-part-product">
                    <div class="text-kkal-product">
                        <pre>@product.Info</pre>
                    </div>
                    <div class="text-price-product">
                        @product.Price <span class="text-ruble">₽</span>
                    </div>
                    <div>
                        <div id="grid-add-order" align="left">
                            <button class="btn-minus">−</button>
                            <input class="text-number-product" type=tel name=number maxlength=2 value=0 />
                            <button class="btn-plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
